.main-nav {
	display: grid;
	grid-template-columns: 140px 1fr;
	column-gap: 61px;
	align-items: center;
}

.main-nav__wrapper {
	// padding: 22px 10px 20px;
	border-top: 1px solid rgba($color: $basic-white, $alpha: 0.2);
	border-bottom: 1px solid rgba($color: $basic-white, $alpha: 0.2);
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav__link {
	display: inline-block;
	position: relative;
	padding: 22px 10px 20px;

	@include text(16px,16px,700,$basic-white);
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: $yellow-back;
		background-color: rgba($color: $basic-black, $alpha: 0.1);
	}

	&:active {
		color: rgba($color: $yellow-back, $alpha: 0.3);
	}
}
