.page-header {
	width: 100%;
	text-align: center;
	padding: 60px 199px 151px;
	background: url("../../img/wheat-back.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $bg-header;
}

.page-header__main-title {
	@include text(70px,70px,700,$basic-white);
	margin-top: 127px;
}
