.page-header {
	// outline: 2px solid red;
	// display: grid;
	// grid-template-columns: 150px 1fr ;
	width: 100%;
	text-align: center;
	padding: 60px 199px 151px;
	outline: 2px solid tomato;
}

.page-header__main-title {
	margin-top: 127px;
}
