.page-main__advantages {
	padding: 183px 30px 96px 91px;
	background-color: $yellow-back;
}

.page-main__history {
	padding: 95px 201px 86px 199px;
}

.page-main__news {
	padding: 95px 201px 90px 199px;
	background-color: $news-back;
}

.page-main__catalog {
	padding: 105px 201px 90px 199px;
}

.page-main__order {
	padding: 95px 360px 110px 199px;
	background-color: $yellow-back;
}
