.page-footer {
	background-color: $basic-black;
}

.page-footer__top {
	padding: 60px 201px 47px 129px;
}

.page-footer__bottom {
	padding: 0 103px 43px 91px;
	display: grid;
	grid-template-columns: 307px 1fr 298px;
	align-items: center;
}

.page-footer__attention {
	@include text(14px,20px,400,$footer-text);
	font-style: normal;
	width: 195px;
}

.page-footer__copyright {
	display: flex;
	align-items: center;

	& a {
		text-decoration: none;
	}

	& span {
		@include text(14px,20px,400,$footer-text);
		font-style: normal;
		margin-left: 31px;
	}
}

.page-footer__copyright-logo {
	background-color: $bg-footer-icon;
	border: 1px solid rgba($color: $bg-icon-border, $alpha: 0.1);

	&:hover {
		border: 1px solid rgba($color: $bg-icon-border, $alpha: 0.3);
	}

	&:active {
		background-color:rgba($color: $bg-footer-icon, $alpha: 0.5);
		border: 1px solid rgba($color: $bg-icon-border, $alpha: 0.1);

		& a {
			opacity: 0.5;
		}
	}

	& a {
		display: block;
		width: 72px;
		height: 68px;
		background: url("../../img/htmlacademy.png") no-repeat center;
	}
}

