@font-face {
	font-family: "ArialMT Regular";
	font-style: normal;
	font-weight: normal;
	src: local('ArialMT Regular'), url("../../fonts/arialmt.woff") format("woff");
}

@font-face {
	font-family: "Arial MT Italic";
	font-style: normal;
	font-weight: normal;
	src: local('Arial MT Italic'), url("../../fonts/ARIALMTITALIC.woff") format("woff");
}

@font-face {
	font-family: "Arial MT Bold";
	font-style: normal;
	font-weight: normal;
	src: local('Arial MT Bold'), url("../../fonts/ARIALBOLDMT.woff") format("woff");
}
