// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bg-header: #e5e5e5;
$yellow-back: #ffcb78;
$news-back: #ede5d8;
$bg-footer-icon: #1b1b1b;
$bg-icon-border: 	#ffcb78;
$footer-text: #989898;
$main-text: #404040;
$source-link: #834700;
$link-hover:   #ffcb78;
$btn-hover: #6a3900;
$btn-active: #cab7a2;
$news-btn-hover: #a5a097;
$news-btn-active: #8f8a81;
$vertical-line: #e5b66c;
